@use "../../styles/variables/colors";

.btn__corner {
  font-size: 40px;
  width: 1em;
  height: 1em;

  color: colors.$btn_gen;
  background-color: transparent;
  background-color: colors.$bg_body;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid colors.$btn_dark;

  position: absolute;
  top: 16px;
  right: 16px;

  z-index: 1;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: colors.$btn_hover;
    border: 2px solid colors.$btn_hover-dark;
    box-shadow: 1px 2px 8px 0.6px colors.$shadow;
  }
  &:active {
    top: 17px;
    right: 17px;
    box-shadow: 1px 1px 2px 0.6px colors.$shadow;
  }
}

.btn__corner-left {
  left: 16px;
}

.svg {
  font-size: 18px;
  width: 1em;
  height: 1em;

  transition: all 1.3s ease;
}

.svg--close {
  fill: colors.$btn_gen;
}

.svg_cart {
  fill: none;
  stroke: colors.$gen_dark-blue;
  stroke-width: 25px;
  margin-right: 2px;
}

.svg--heart {
  fill: none;
  stroke: colors.$gen_dark-blue;
  stroke-width: 50px;
}

.svg--delete {
  fill: colors.$gen_dark-blue;
}

.btn__corner:hover {
  .svg {
    font-size: 24px;
    width: 1em;
    height: 1em;

    transition: all 0.2s ease;
  }
  .svg--close {
    fill: colors.$btn_hover;
  }
  .svg_cart {
    fill: colors.$gen_dark-blue;
    stroke: none;
  }
  .svg--delete {
    // fill: colors.$btn_gen;
    // fill: colors.$gen_dark-blue;
    fill: colors.$btn_hover;
    stroke: none;
  }
}

.svg--heart.active {
  fill: colors.$btn_hover;
  stroke: none;
}

.btn__corner:active .svg--delete,
.btn__corner:active .svg--heart {
  font-size: 38px;
  width: 1em;
  height: 1em;

  position: absolute;
  top: -10px;
  right: -3px;

  fill: colors.$btn_hover;
  stroke: none;
}

.svg_cart.active {
  fill: colors.$btn_hover;
  stroke: none;

  margin-top: 1px;
  margin-right: 1px;
}

.btn__corner:hover .svg_cart.active {
  font-size: 24px;
  width: 1em;
  height: 1em;

  fill: colors.$btn_hover;
  stroke: none;

  margin-top: 3px;
  margin-right: 3px;

  transition: all 0.2s ease;
}
