@use "../../styles/variables/colors";

.btn__corner--wrap {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.counter__corner-btn {
  color: colors.$gen_dark-blue;
  font-size: 9px;

  position: absolute;
  top: 3px;
  right: 5px;

  transition: all 1.3s ease;
}

.btn__corner:hover .counter__corner-btn {
  color: colors.$btn_hover;
  top: 2px;
  right: 4px;

  transition: all 0.2s ease;
}
