.section {
  // min-height: calc(100vh - 140px - (2 * 30px));

  // padding-top: 170px;
  padding-top: 30px;
  padding-bottom: 50px;

  .section-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // column-gap: 15px;
    // row-gap: 30px;
    gap: 20px;
  }
}
