@use "../../styles/variables/colors";

.header {
  // width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;

  // background-color: colors.$bg_brand;
  // position: fixed;
  // z-index: 2;

  border-radius: 0 0 30px 30px;
  border-bottom: 5px solid colors.$gen_dark-blue;

  // &:hover {
  //   // background-color: #181818;
  //   // border-bottom: 5px solid #467deb;
  //   // border-bottom: 5px solid colors.$btn_hover-dark;

  //   border-bottom: 5px solid #55a8a8;

  //   & .logo__text {
  //     color: #55a8a8;
  //   }
  // }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 20px;
  user-select: none;

  .logo__link {
    color: colors.$gen_dark-blue;

    position: relative;
    font-weight: 700;

    &:active {
      top: 3px;
      right: 3px;
    }
  }

  .logo__box {
    font-size: 80px;
    width: 1em;
    height: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border-radius: 16px;
    border: 5px solid colors.$gen_dark-blue;

    &:hover {
      color: colors.$btn_hover;

      background-color: colors.$bg_body;
      border: 5px solid colors.$btn_hover-dark;
      box-shadow: 1px 2px 8px 0.6px colors.$btn_gen;

      // box-shadow: 1px 2px 8px 0.6px colors.$btn_gen;
      // background-color: colors.$bg_body;
    }
    &:active {
      box-shadow: 1px 1px 2px 0.6px colors.$btn_gen;
    }
  }

  .logo__text {
    font-size: 16px;
    padding-bottom: 2px;
  }

  .logo__name {
    color: colors.$gen_dark-blue;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.menu {
  display: flex;
  column-gap: 15px;
}

.header:hover {
  border-bottom: 5px solid colors.$gen_header;

  & .logo__link,
  & .logo__text,
  & .logo__name {
    color: colors.$gen_header;
  }

  & .logo__box {
    border: 5px solid colors.$gen_header;
  }

  .logo__box:hover {
    border: 5px solid colors.$btn_hover-dark;
  }
  .logo__box:hover .logo__text {
    color: colors.$btn_hover-dark;
  }
}

// .logo__link.navlink.active {
//   .logo__box {
//     color: colors.$btn_hover;

//     background-color: colors.$bg_body;
//     border: 5px solid colors.$btn_hover-dark;
//     box-shadow: 1px 2px 8px 0.6px colors.$btn_gen;
//   }
// }
