@use "../../styles/variables/colors";

.footer {
//   color: #4a9696;
  font-size: 14px;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 30px 30px 0 0;
  //   border-top: 5px solid colors.$gen_dark-blue;
  border-top: 5px solid colors.$gen_dark-blue;
  user-select: none;

  &:hover {
    // color: colors.$btn_hover-dark;
    color: colors.$gen_header;

    // border-top: 5px solid colors.$btn_hover-dark;
    border-top: 5px solid colors.$gen_header;
  }
}
